$extraHeight: 100px;
.credentialPage {
    background: $primary;
    position: relative;
    @media #{$desktop} {
        height: 100vh;
        overflow: hidden;
    }
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 230px;
        background: url('../img/bg_pattern.png') no-repeat center top;
    }
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 24%;
        width: 150%;
        height: 150%;
        background: #fff;
        border-radius: 100%;
        transform: translateX(-50%);
    }
}

.loginForm {
    max-width: 300px;
    margin: 0 auto;
    position: relative;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    text-align: center;
    padding-top: $extraHeight;
    & h1 {
        width: 240px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    & h2 {
        font-size: 13px;
        font-weight: 500;
        color: #888;
        margin-bottom: 30px;
    }
}

.loaderBox {
    background: rgba(#fff, .9);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    & span {
        width: 60px;
        height: 60px;
        display: block;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        & svg {
            width: 100%;
        }
    }
}

.forgotContent {
    max-width: 280px;
    margin: 0 auto;
}

#confettiCanvas {
    position: relative;
    transform: rotate(180deg);
    z-index: 1 !important;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
    mask-mode: alpha;
    mask-mode: luminance;
}